.container {
  width: 80%;
}

.content {
  max-width: 100%;
}

.container-include {
  width: 500px;
  padding: 50px;
  background-color: #ffc107;
  border-color: #ffc107;
  margin: 30px auto;
  border-radius: 8px;
}
